main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

#formgroup label{
    display: block;
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
}

#formgroup input{
    padding: 8px;
}

#formgroup label, #formgroup input{
    cursor: pointer;
}

#formgroup a{
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 16px;
    padding: 12px 4px;
    background-color: #28a745;
    border-radius: 4px;
    color: #FFF;
    cursor: pointer;
}

#formgroup a:hover{
    background-color: #1f8a38;
}

#model{
    display: none;
}