@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
}

.restaurant{
    margin-top: 16px;
    font-size: 18px;
    font-weight: 700;
}

ul a{
    
    color: unset;
}

ul a:visited{
    color: green;
}

ul a:hover{
    color: gold;
}

.sitdown{
    color: red;
}

.bar{
    color: blue;
}